* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}



#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5vh 7vw;
}

#page2-left {
  height: 100%;
  width: 35%;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3vw;
}

#page2-left h3 {
  display: flex;
  align-items: center;
  padding-top: 5%; 
  margin-left: 0%;
}

#page2-left svg {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}

#page2-left span {
  color: #939292;
  font-size: medium;
}

#svg {
  height: 75vh;
  width: 35vw;
}

#page2-right {
  height: 100%;
  width: 55%;
  /* background-color: #1c1515; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 3vw;
}


form {
  width: 100%;
  max-width: 400px; /* Adjust maximum width as needed */
  margin: 0 auto; /* Center the form horizontally */
}

form .title {
  font-family: 'Pacifico', cursive;
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem; /* Adjust spacing between form groups */
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem; /* Adjust spacing between label and input */
}

.form-control {
  width: 100%;
  padding: 1rem 1.5rem; /* Adjust padding as needed */
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  color: #212529;
  background-color: #f2f6f8;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.form-control.thick {
  height: 3.3rem; /* Adjust height of thick inputs */
  padding: .5rem 3.5rem; /* Adjust padding of thick inputs */
}

.form-control:focus {
  background-color: #f2f6f8;
  border: none;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.message textarea {
  height: 100%;
  width: 100%;
  padding: 1rem 1.5rem; /* Adjust padding for textarea */
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  color: #212529;
  background-color: #f2f6f8;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
}

.text-center {
  text-align: center;
  margin-top: 2rem; /* Adjust margin as needed */
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn.btn-primary:hover {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

















